Replacing bad data with Pandas 
Data Analysis Python Pandas Data Cleaning

Suppose you are given a dataframe, df, that contains various negative values. In the context of your work, negative values can be considered 'bad data'. Write a function in Python (using Pandas) that replaces these bad values with the group mean.

Solution will be written in Python for premium users.

In [1]:
import pandas as pd
import numpy as np

In [2]:
group_1 = np.random.uniform(-5, 5, 1000)
group_2 = np.random.uniform(-1, 10, 1000)

In [3]:
df1 = pd.DataFrame(group_1, columns=['feature'])
df1['group'] = 1
df2 = pd.DataFrame(group_2, columns=['feature'])
df2['group'] = 2
df = pd.concat([df1,df2])
df = df.sample(frac=1)

In [4]:
df_pos = df[df['feature'] >= 0]
df_neg = df[df['feature'] < 0]

In [5]:
means = df_pos.groupby('group').mean()
mean_1 = means.iloc[0]['feature']
mean_2 = means.iloc[1]['feature']

In [6]:
df_neg_1 = df_neg[df_neg['group'] == 1]
df_neg_2 = df_neg[df_neg['group'] == 2]

In [7]:
df_neg_1['mean'] = mean_1
df_neg_2['mean'] = mean_2

<ipython-input-7-de285eb89a83>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neg_1['mean'] = mean_1
<ipython-input-7-de285eb89a83>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_neg_2['mean'] = mean_2

In [8]:
df_neg_1.drop('feature', axis=1, inplace=True)
df_neg_2.drop('feature', axis=1, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
df_neg_1.rename({'mean': 'feature'}, axis=1, inplace=True)
df_neg_2.rename({'mean': 'feature'}, axis=1, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [10]:
df_neg = pd.concat([df_neg_1, df_neg_2])

In [11]:
df = pd.concat([df_pos, df_neg])
df = df.sample(frac=1)

In [16]:
df.head(50)

      feature  group
495  6.102439      2
443  8.460534      2
31   2.523343      1
506  0.719174      2
577  2.918878      1
204  2.523343      1
309  1.153481      1
16   0.288756      1
405  2.715202      1
143  2.523343      1
809  9.142641      2
53   2.523343      1
93   2.523343      1
52   0.361977      2
200  9.817651      2
265  2.523343      1
403  2.523343      1
154  0.163980      1
679  7.900143      2
682  1.445272      1
363  0.776874      2
632  9.605055      2
18   1.143702      2
738  0.469756      1
939  2.523343      1
492  5.873533      2
153  3.454280      1
624  2.523343      1
92   1.353070      1
951  0.572740      2
263  3.635320      1
521  9.775617      2
853  0.666454      1
84   4.393259      1
467  1.647428      2
6    5.365049      2
977  8.964524      2
587  2.523343      1
718  2.523343      1
916  2.523343      1
213  5.063964      2
982  1.063022      2
517  3.334303      1
718  3.786972      2
936  7.198853      2
241  5.181485      2
881  4.467108      2
738  6.181316      2
297  2.523343      1
758  4.952096      2

In [17]:
df[df['feature'] == mean_2]

      feature  group
694  5.058253      2
152  5.058253      2
84   5.058253      2
378  5.058253      2
175  5.058253      2
..        ...    ...
631  5.058253      2
658  5.058253      2
188  5.058253      2
841  5.058253      2
432  5.058253      2

[70 rows x 2 columns]